---
interface Props {
  name?: string;
  tagline?: string;
}

const { name = "MindForge", tagline = "PSYCHOLOGIA & TECHNOLOGIA & CIEKAWOSTKI & MARKETING" } = Astro.props;
---

<div class="py-4 md:py-6">
  <img src="/images/head2.jpg" alt="MindForge" class="w-full block mx-auto" style="max-width: 1400px;" />
</div>
